RESEND_API_KEY=re_xxx
CONTACT_EMAIL_TO=hola@tuagenciaweb.es
CONTACT_EMAIL_FROM=noreply@tuagenciaweb.es
UPSTASH_REDIS_REST_URL=https://xxx.upstash.io
UPSTASH_REDIS_REST_TOKEN=xxx
NEXT_PUBLIC_SITE_URL=http://localhost:3000
